html {
    background-color: #FCFCFC;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: lucida sans, verdana, arial, sans-serif;
}

#doc3 {
    margin: 0;
    padding: 0;
}

/*.doc {*/
    /*background: url(big_cow.png) no-repeat;*/
/*}*/

/* HD ======================================================================= */

#hd {
    overflow: hidden;
    opacity: 0.85;
}

#innerHd {
    margin-bottom: 22px;
    padding: 0;
    background-color: #262526;
    font-size: 110%;
    line-height: 1.0;
    overflow: hidden;

    box-shadow: 0px 2px 20px #666;
    -moz-box-shadow: 0px 2px 20px #666;
    -webkit-box-shadow: 0px 2px 20px #666;
}

#hd a {
    color: #FFF;
}

#hdBanner {
    float: left;
    margin: 22px 10px 0;
}

#hdSessionInfoAndTopNav {
    float: right;
    text-align: right;
}

#hdInnerSessionInfoAndTopNav {
    background-color: #262526;
    background-image: -moz-linear-gradient(left, #262526 0%, #555 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #262526), color-stop(100%, #555));
}

#sessionInfo {
    padding: 10px 20px;
    background-color: #262526;
    color: #EEE;

    box-shadow: 0px 5px 20px #262526;
    -moz-box-shadow: 0px 5px 20px #262526;
    -webkit-box-shadow: 0px 5px 20px #262526;
}

#topNav {
    padding: 10px 20px;
    color: #999;
}

#topNav .navItem {
    margin-left: 15px;
    padding-left: 20px;
    background: url(white_mini_scarab.png) left no-repeat;
}

#topNav .navItem a {
    text-decoration: none;
}

#topNav .navItem_important {
    margin-left: 15px;
    padding-left: 20px;
    background: url(aqua_mini_scarab.png) left no-repeat;
}

#topNav .navItem_important a {
    text-decoration: none;
}

/* BD ======================================================================= */

#bd {
    width: 1210px;
    margin: 0 auto;
    padding: 20px;
    font-size: 120%;
}

/* FT ======================================================================= */

#ft {
    margin-top: 20px;
    padding: 0 20px;
    border-top: 1px solid #CCC;
    background-color: #FCFCFC; /* suppress scarab bg */
    text-align: center;
    font-size: 90%;
    color: #666;
}

#footerNav {
    margin: 20px;
}

#troubleshooting {
    margin: 20px;
}

#legal {
    margin: 20px;
}

/* BREADCRUMBS ============================================================== */

#breadcrumbsAndPageTitle {
    margin-bottom: 20px;
}

#breadcrumbs {
    margin: 0;
    color: #666;
    font-size: 90%;
    text-transform: uppercase;
}

#breadcrumbs a {
    color: #666;
}

#breadcrumbsAndPageTitle h1 {
    margin-top: 0;
}

/* HX ======================================================================= */

h1, h2 {
    font-weight: normal;
    color: #0E776A;
}

h1 {
    margin: 20px 0 10px;
    font-size: 180%;
    line-height: 1.2;
}

h2 {
    margin: 15px 0 5px;
    font-size: 140%;
}

h3 {
    margin: 15px 0 5px;
    font-weight: normal;
}

h4 {
    margin: 10px 0 0;
    font-size: 85%;
    color: #333;
    text-transform: uppercase;
}

/* TABLES =================================================================== */

.tableButtonBar {
    margin: 0 0 10px;
}

table {
    width: 100%;
    margin: 0;
    border: 1px solid #DDD;
}

th {
    border: 1px solid #000;
    background-color: #404040;
    background-image: -moz-linear-gradient(0 100% 90deg, #000, #404040);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040), to(#000));
    font-weight: normal;
    text-align: left;
    color: #FFF;
    white-space: nowrap;
}

table.tablesorter .header {
    cursor: pointer;
}

th.op, th.edit {
    width: 0;
}

th.numeric, td.numeric {
    text-align: right;
}

td {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #DDD;
    border-left: none;
    padding: 6px;
    background-color: #FFF;
}

th.headerSortUp .headerWrap {
    padding-left: 20px;
    background: url(arrow_down.png) no-repeat left;
}

th.headerSortDown .headerWrap {
    padding-left: 20px;
    background: url(arrow_up.png) no-repeat left;
}

tr.even td {
    background-color: #EEE;
}

tr.odd td {
    background-color: #FFF;
}

/* FORMS ==================================================================== */

form {
    margin: 0;
}

.formSection {
    margin-top: 30px;
    border-top: 1px dashed #CCC;
    padding-top: 20px;
}

.formSection.first {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
}

.formSection h3 {
    margin-top: 0;
}

.formItem {
    margin: 15px 0;
}

.formLabel {
    color: #000;
}

.formLabel.required {
    font-weight: bold;
}

.formField {
    text-align: left;
}

.formFieldError {
    margin-top: 5px;
    padding-left: 24px;
    background: url(error.png) left no-repeat;
}

input, textarea, select, button {
    font-family: lucida sans, verdana, arial, sans-serif;
}

input[type=text], input[type=password], textarea, select, button {
    border: 1px solid #CCC;
    padding: 3px;
    background-color: #FFF;
    color: #000;
}

input[type=submit], input[type=button], button {
    padding: 5px 10px;
    border: 1px solid #000;
    color: #FFF;

    background-color: #000;
    background-image: -moz-linear-gradient(0 100% 90deg, #000, #555);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#000));

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

input.veryShort {
    width: 50px;
}

input.short, password.short {
    width: 200px;
}

input.medium {
    width: 360px;
}

input.long {
    width: 480px;
}

input.veryLong {
    width: 600px;
}

textarea.medium {
    width: 360px;
}

textarea.long {
    width: 600px;
    height: 120px;
}

input:focus, textarea:focus, select:focus {
}

.globalError {
    width: 400px;
    margin: 20px auto;
    border: 2px solid #CC9;
    padding: 20px;
    background-color: #FFC;
    font-weight: bold;
    color: #000;
    text-align: center;
}

input.error, textarea.error {
}

/* JQUERY UI ================================================================ */

.ui-autocomplete {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 20px;
    text-align: left;
}

/* IE6 doesn't support max-height. We use height instead, but this forces the
   menu to always be this tall. */
* html .ui-autocomplete {
    height: 200px;
}

.ui-autocomplete ul {
    list-style-type: none;
}

.ui-autocomplete-loading {
    background: white url('loading.gif') right center no-repeat;
}

/* RESIZABLE TEXTAREAS ====================================================== */

div.grippie {
    background: #EEE url(grippie.png) no-repeat scroll center 2px;
    border-color: #DDD;
    border-style: solid;
    border-width: 0pt 1px 1px;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}

.Resizable-textarea textarea {
    display: block;
    margin-bottom: 0pt;
    width: 95%;
    height: 20%;
}

/* WMD ====================================================================== */

.wmd-button-bar {
    margin: 0 0 5px;
    border: 1px solid #CCC;
    padding: 8px 2px;
    background-color: #BBB;
    background-image: -moz-linear-gradient(0 100% 90deg, #BBB, #EEE);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#BBB));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.wmd-button-bar ul {
    margin: 0;
    border: 0;
    padding: 0;
}

.wmd-button-bar ul li {
    border: 1px solid #CCC;
}

.wmd-preview {
    width: 704px;
    margin-top: 10px;
    border: 1px solid #CCC;
    padding: 10px;
}

/* Hack to fix display problem in Firefox on Mac */
.wmd-spacer {
    visibility: hidden;
}

/* PANELS =================================================================== */

.panel {
    margin: 0 0 30px;
    background-color: #EEEEE0;
    box-shadow: 0px 5px 5px #999;
    -moz-box-shadow: 0px 5px 5px #999;
    -webkit-box-shadow: 0px 5px 5px #999;
}

.panel h2 {
    margin: 0;
    padding: 5px 10px;
    background-color: #000;
    background-image: -moz-linear-gradient(0 100% 90deg, #000, #444);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#000));
    color: #FFF;
}

.panelBody {
    padding: 20px;
}

.panel .viewPane, .panel .editPane {
    border: 1px solid #CCC;
    padding: 20px;
    background-color: white;
    overflow-x: auto;
}

.panel .viewPaneSection {
    margin-top: 30px;
    border-top: 1px dashed #CCC;
    padding-top: 20px;
}

.panel .viewPaneSection.first {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
}

.panel .viewPaneSection h4 {
    margin-top: 0;
}

/* TABS ===================================================================== */

ul.tabs {
    position: relative;
    top: 3px;
    z-index: 0;
    margin: 20px 0 0;
    padding: 10px 0;
    white-space: nowrap;
}

ul.tabs li {
    margin-right: 2px;
    padding: 10px 0;
    display: inline;
    list-style-type: none;
}

ul.tabs li a {
    position: relative;
    top: 6px;
    padding: 10px 20px;
    background-color: #DFDFD8;
    background-image: -moz-linear-gradient(0 100% 90deg, #DFDFD8, #CFCFC8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CFCFC8), to(#DFDFD8));
    color: #555;
    text-decoration: none;
    outline: 0;

    box-shadow: 0px 5px 5px #999;
    -moz-box-shadow: 0px 5px 5px #999;
    -webkit-box-shadow: 0px 5px 5px #999;

    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;

    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

ul.tabs li a.current {
    top: 0;
    background: #EEEEE0;
    font-weight: bold;
    color: #333;
}

/* MODAL DIALOG ============================================================= */

.apple_overlay {
    display: none;
    background-image: url(petrol.png);
    width: 800px;
    text-align: left;
    font-size: 110%;
}

.apple_overlay a.close {
    background-image: url(../../../../images/overlay/close.png);
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    z-index: 1;
}

.contentWrap {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 0 0 20px;
    background-color: #F0F0E8;
    opacity: 0.9;
    box-shadow: 0px 15px 40px #000;
    -moz-box-shadow: 0px 15px 40px #000;
    -webkit-box-shadow: 0px 15px 40px #000;
    overflow-y: hidden;
    z-index: 0;
}

.contentWrap h2 {
    margin: 0;
    padding: 5px 10px;
    background-color: #000;
    background-image: -moz-linear-gradient(0 100% 90deg, #000, #444);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#000));
    color: #FFF;
}

.contentBody {
    padding: 20px;
}

/* ICON COLUMNS ============================================================= */

.iconColumn {
    /* 	box-shadow: 0px 2px 2px #CCC; */
    /* 	-moz-box-shadow: 0px 2px 2px #CCC; */
    /* 	-webkit-box-shadow: 0px 2px 2px #CCC; */

    border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;

    border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
}

.iconColumnBackground {
    height: 140px;

    background-color: #BBB;
    background-image: -moz-linear-gradient(0 100% 90deg, #EEE, #BBB);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BBB), to(#EEE));

    border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;

    border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
}

.iconColumnPic {
    height: 140px;
    background-position: center 5px;
    background-repeat: no-repeat;
}

.iconColumnHeader {
    margin: 0;
    background-color: #404040;
}

.iconColumnHeader h3 {
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    color: #FFF;
}

.iconColumnLinks {
    margin: 0;
    border: 1px solid #EEE;
    padding: 0 10px 15px;
    background-color: #FFF;
}

img.opaque {
    opacity: 0.3;
}

/* OTHER ELEMENTS =========================================================== */

a {
    color: #2565C7;
}

/* WMD wants em to be italic */
em {
    font-style: italic;
    font-weight: normal;
}

/* WMD wants strong to be bold */
strong {
    font-style: normal;
    font-weight: bold;
}

iframe {
    border: 1px solid #999;
}

.clear {
    clear: both;
}

/* ICONS ==================================================================== */

/* Suppress icons for these */
.bronze.icon, .copper.icon, .email.icon, .gold.icon, .headphone.icon, .platinum.icon, .silver.icon, .user.icon {
    padding: 0;
}

.icon {
    padding-left: 20px;
    background-position: left;
    background-repeat: no-repeat;
    zoom: 1;
}

.icon.add {
    background-image: url(add.png);
}

.icon.app {
    background-image: url(world.png);
}

.icon.cancel {
    background-image: url(cancel.png);
}

.icon.cross {
    background-image: url(cross.png);
}

.icon.database {
    background-image: url(database.png);
}

.icon.delete {
    background-image: url(delete.png);
}

.icon.edit {
    background-image: url(pencil.png);
}

.icon.external {
    padding-left: 0;
    padding-right: 20px;
    background-position: right;
    background-image: url(link_go.png);
}

.icon.help {
    background-image: url(help.png);
}

.icon.info {
    background-image: url(information.png);
}

.icon.inProgress {
    background-image: url(loading.gif);
}

.icon.log {
    background-image: url(log.png);
}

.icon.note {
    background-image: url(note.png);
}

.icon.package {
    background-image: url(package.png);
}

.icon.save {
    background-image: url(disk.png);
}

.icon.servers {
    background-image: url(servers-network.png);
}

.icon.tag {
    background-image: url(tag_blue.png);
}

.icon.tick {
    background-image: url(tick.png);
}

.icon.time {
    background-image: url(time.png);
}

.icon.warning {
    background-image: url(warning.png);
}

.icon.webService {
    background-image: url(cog.png);
}

.icon.xml {
    background-image: url(page_white_code.png);
}
